<!DOCTYPE html>
<html lang="en">
    <!-- 这里是 thymeleaf 渲染器的机制必须标签收尾 -->
    <head>
        <meta charset="UTF-8"></meta>
        <title>page_00</title>
        <link rel="stylesheet" type="text/css" href="/webapp/static/all/css/page_00.css"></link>
        <script type="text/javascript" src="/webapp/static/common/jquery/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/webapp/static/all/js/page_00.js"></script>
    </head>

    <body>
        <div>Hello This is page_00</div>
        <button class="anniu_00" type="button">按钮</button>
    </body>
</html>